
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f9;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: linear-gradient(180deg, #7BE0A5 , #1c1f26);
    color: #F9FAFB;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo h3 {
    font-size: 16px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s;
}

.sidebar ul li.has-submenu {
    display: block;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.sidebar ul li.active {
    background: #149062;
}

/* Submenu styles */
.submenu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    margin-left: 0;
    margin-top: 5px;
    padding-left: 35px; /* Ajustar para alinear con el texto */
    transition: max-height 0.3s ease-in-out;
}

.has-submenu.open .submenu {
    max-height: 200px; /* Ajustar según el número de sub-menús */
}

.submenu li {
    padding: 8px 15px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.submenu li:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* CONTENT */
.contenido {
    flex: 1;
    background: #f8f9fb;
    padding: 30px;
}

.contenido h1 {
    font-size: 28px;
    margin-bottom: 5px;
    
}

.contenido p {
    color: #888;
}
